PORT=5004
FRONTNEND_URL=http://localhost:5173

EMAIL_USER=
EMAIL_PASS=

EMAIL=
JWT_SECRET=

MONGO_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


SQL_SERVER=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_PORT=